* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #363062;
    overscroll-behavior-y: none;
    position: relative;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


/*HEADER*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.3s ease;
}

.header.scrolled {
    background-color: #363062;
}


.header img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.header img:hover{
    transition: transform .3s ease;
    transform: scale(1.1);
}

.logo {
    color: #F5F5F5;
    font-size: 25px;
    font-weight: 500;
    transition: 0.3s ease;
}

.logo:hover {
    color: bisque;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 18px;
    color: #F5F5F5;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    transition: transform .3s ease;
    transform: scale(1.1);
}

.contact {
    padding: 10px 20px;
    color: #F5F5F5;
    background-color: #F99417;
    border: 2px solid transparent;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.3s ease;
}

.contact:hover {
    background-color: #4D4C7D;
    transition: transform .3s ease;
    transform: scale(1.1);
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: black;
}

#menu-toggle {
    display: none;
}

.close-btn {
    display: none;
}

/* ====== RESPONSIVE HEADER ====== */
@media screen and (max-width: 1024px) {

    .navbar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        background: #363062;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        transition: 0.3s ease;
        z-index: 999;
    }

    #menu-toggle:checked ~ .navbar {
        left: 0;
    }

    .navbar a {
        margin: 0;
        font-size: 20px;
    }

    .menu-icon {
        display: block;
        color: white;
        font-size: 30px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,.5);
        display: none;
        z-index: 900;
    }

    #menu-toggle:checked ~ .overlay {
        display: block;
    }

    .close-btn {
        position: absolute;
        display: block;
        top: 25px;
        right: 20px;
        font-size: 35px;
        cursor: pointer;
        color: white;
    }

}


/* ====== COVER IMAGE ====== */
.cover {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.cover-text {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 10;
}

.cover-text p {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.cover-text h1 {
    font-size: 100px;
}

.cover-img {
    width: 100%;
    height: 100vh;
}

.cover-img img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* ====== RESPONSIVE COVER IMAGE ====== */
@media (max-width: 600px) {
    .cover-text h1 {
        font-size: 50px;
    }
    
}


/* ====== CONTACT ====== */
.contact-wrap {
    width: 100%;
    overflow-x: hidden !important;
}

.contact-wrap h1 {
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
    color: #F5F5F5;
    margin-bottom: 50px;
}

.contact-container {
    width: 100%;
    display: flex;
}

.contact-icon-maps {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #F5F5F5;
}

.icon {
    width: 250px;
    border-radius: 10px;
    height: 180px;
    margin: 10px 0;
    background-color: #4D4C7D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.icon:hover {
    transition: transform .3s ease;
    transform: scale(1.1);
}

.icon i {
    font-size: 50px;
}

.icon a {
    color: #F5F5F5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.icon h2 {
    font-size: 20px;
    color: #F5F5F5;
    
}

.icon p {
    font-size: 15px;
}

.contact-maps {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

#map {
    margin-top: 50px;
    width: 75%;
    height: 320px;
    border-radius: 10px;
    border: 15px solid #4D4C7D;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contact-form {
    width: 45%;
}

.form-container {
    width: 80%;
    background: #4D4C7D;
    padding: 25px;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-container h2 {
    margin-bottom: 40px;
    margin-top: 10px;
}

label {
    font-weight: bold;
    margin-top: 20px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #F5F5F5;
    background: #F5F5F5;
    color: white;
}

input.error, textarea.error {
    border: 2px solid #ff4b4b;
    background: #363062;
}

button {
    margin-top: 25px;
    width: 100%;
    background: #F99417;
    padding: 12px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #363062;
}

/* ====== RESPONSIVE CONTACT ====== */
@media (max-width: 950px) {

    .contact-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .contact-icon-maps {
        width: 90%;
    }

    .icon {
        width: 300px;
        height: 200px;
    }
    .icon i {
        font-size: 40px;
    }
    .icon h2 {
        font-size: 18px;
    }
    .icon p {
        font-size: 14px;
    }

    #map {
        width: 90%;
        height: 260px;
        margin-top: 50px;
    }

    .contact-form {
        width: 90%;
        display: flex;
        justify-content: center;
        margin-top: -50px;
    }

    .form-container {
        width: 90%;
    }
}

@media (max-width: 600px) {

    .contact-container {
        flex-direction: column;
        gap: 40px;
    }

    .icon-wrap {
        gap: 10px;
    }

    .icon {
        width: 150px;
        height: 130px;
        gap: 10px;
    }

    .icon i {
        font-size: 35px;
    }
    .icon h2 {
        font-size: 16px;
    }
    .icon p {
        font-size: 10px;
    }

    #map {
        width: 90%;
        height: 230px;
        margin-top: 50px;
    }

    .contact-form {
        width: 90%;
        display: flex;
        justify-content: center;
        margin-top: -100px;
    }

    .form-container {
        width: 90%;
        padding: 20px;
    }
}


/* ====== FOOTER ====== */
.footer-container {
    width: 100%;
    height: 100%;
    background-color: #4D4C7D;
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-icon a {
    font-size: 30px;
    background-color: #F99417;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
}

.footer-icon a:hover {
    background-color: #363062;
    transition: transform .3s ease;
    transform: scale(1.2);
}

.footer-tag {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-tag a {
    font-size: 17px;
    text-decoration: underline;
    color: #fff;
}

.footer-tag a:hover {
    transition: transform .3s ease;
    transform: scale(1.1);
}

.footer-wm {
    width: 100%;
    height: 50px;
    justify-items: center;
    align-content: center;
}

.footer-wm p {
    font-size: 13px;
    color: #F5F5F5;
}