* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #363062;
    overscroll-behavior-y: none;
    position: relative;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


/*HEADER*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.3s ease;
}

.header.scrolled {
    background-color: #363062;
}


.header img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.header img:hover{
    transition: transform .3s ease;
    transform: scale(1.1);
}

.logo {
    color: #F5F5F5;
    font-size: 25px;
    font-weight: 500;
    transition: 0.3s ease;
}

.logo:hover {
    color: bisque;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 18px;
    color: #F5F5F5;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    transition: transform .3s ease;
    transform: scale(1.1);
}

.contact {
    padding: 10px 20px;
    color: #F5F5F5;
    background-color: #F99417;
    border: 2px solid transparent;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.3s ease;
}

.contact:hover {
    background-color: #4D4C7D;
    transition: transform .3s ease;
    transform: scale(1.1);
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: black;
}

#menu-toggle {
    display: none;
}

.close-btn {
    display: none;
}

/* ====== RESPONSIVE HEADER ====== */
@media screen and (max-width: 768px) {

    .navbar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        background: #363062;
        padding-top: 80px;
        flex-direction: column;
        gap: 25px;
        transition: 0.3s ease;
        z-index: 999;
    }

    #menu-toggle:checked ~ .navbar {
        left: 0;
    }

    .navbar a {
        margin: 0;
        font-size: 20px;
        padding-left: 20px;
    }

    .contact {
        display: none;
    }

    .menu-icon {
        display: block;
        color: white;
        font-size: 30px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,.5);
        display: none;
        z-index: 900;
    }

    #menu-toggle:checked ~ .overlay {
        display: block;
    }

    .close-btn {
        position: absolute;
        display: block;
        top: 25px;
        right: 20px;
        font-size: 35px;
        cursor: pointer;
        color: white;
    }

}


/* ====== COVER IMAGE ====== */
.cover {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.cover-text {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 10;
}

.cover-text p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.cover-text h1 {
    font-size: 50px;
}

.cover-img {
    width: 100%;
    height: 100vh;
}

.cover-img img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


/* ====== ARTICLE ====== */
.canvas-container {
    width: 100%;
    height: auto;
    display: flex;
}

.canvas-article {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F5F5F5;
}

.canvas-article h1 {
    width: 75%;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
    line-height: 40px;
}

.canvas-article p {
    text-align: justify;
    width: 75%;
    font-size: 17px;
    line-height: 25px;
}

.article-last {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-last p {
    font-size: 17px;
    text-align: justify;
    line-height: 25px;
}

.wm {
    width: 75%;
    font-size: 17px;
    margin-top: 30px;
}

.quotes {
    width: 75%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.quotes-line {
    height: 13vh;
    background-color: #4D4C7D;
    width: 5px;
}

.canvas-date {
    width: 75%;
    margin-top: 50px;
    display: flex;
    gap: 350px;
}

.canvas-date p {
    font-size: 17px;
    text-decoration: initial;
}

.recent-post {
    width: 40%;
    justify-items: center;
}

.post {
    width: 90%;
    margin-top: 100px;
    color: #F5F5F5;
}

.judul h1 {
    font-size: 25px;
    color: #F5F5F5;
    margin-bottom: 30px;
}

.post p {
    font-size: 13px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 20px;
}

.post a {
    color: #F5F5F5;
    font-size: 17px;
    width: 50%;
    text-decoration: underline;
}

.post a:hover {
    text-decoration: underline;
}

.line {
    width: 90%;
    height: 3px;
    background-color: #4D4C7D;
    margin-top: 15px;
    margin-bottom: 10px;
}

.share-box{
        border-radius: 12px;
        width: 75%;
        margin: auto;
        margin-top: 50px;
    }

    .share-title{
        font-size: 17px;
        margin-bottom: 12px;
        font-weight: bold;
    }

    .share-buttons{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .share-buttons a {
        color: #F5F5F5;
        background-color: #F99417;
        width: 50px;
        height: 50px;
        justify-content: center;
        font-size: 20px;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 5px;
    }

    .share-buttons a:hover {
        color: #F5F5F5;
        background-color: #4D4C7D;
        transition: transform .3s ease;
    transform: scale(1.1);
    }

    .toast{
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background: #111;
        color: #fff;
        padding: 10px 16px;
        border-radius: 8px;
        opacity: 0;
        transition: 0.3s;
    }

    .toast.show{
        opacity: 1;
    }

/* ====== RESPONSIVE ARTICLE ====== */
@media screen and (max-width: 768px) {

    .canvas-container {
        flex-direction: column;
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .canvas-article {
        width: 80%;
        padding: 0;
    }

    .canvas-article h1,
    .canvas-article p,
    .wm,
    .quotes,
    .canvas-date {
        width: 100%;
    }

    .quotes-line {
        height: 20vh;
    }

    .share-box {
        width: 90%;
        margin: 40px auto;
    }

    .share-buttons {
        justify-content: flex-start;
    }

    .recent-post {
        width: 80%;
        margin-top: 40px;
        padding: 0;
    }

    .post {
        width: 100%;
        margin-top: 20px;
    }

    .post p,
    .post a,
    .line {
        width: 100%;
    }
}


/* ====== FOOTER ====== */
.footer-container {
    width: 100%;
    height: 100%;
    background-color: #4D4C7D;
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-icon a {
    font-size: 30px;
    background-color: #F99417;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
}

.footer-icon a:hover {
    background-color: #363062;
    transition: transform .3s ease;
    transform: scale(1.2);
}

.footer-tag {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-tag a {
    font-size: 17px;
    text-decoration: underline;
    color: #fff;
}

.footer-tag a:hover {
    transition: transform .3s ease;
    transform: scale(1.1);
}

.footer-wm {
    width: 100%;
    height: 50px;
    justify-items: center;
    align-content: center;
}

.footer-wm p {
    font-size: 13px;
    color: #F5F5F5;
}