* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #363062;
    overscroll-behavior-y: none;
    position: relative;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


/*HEADER*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.3s ease;
}

.header.scrolled {
    background-color: #363062;
}


.header img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.header img:hover{
    transition: transform .3s ease;
    transform: scale(1.1);
}

.logo {
    color: #F5F5F5;
    font-size: 25px;
    font-weight: 500;
    transition: 0.3s ease;
}

.logo:hover {
    color: bisque;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 18px;
    color: #F5F5F5;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    transition: transform .3s ease;
    transform: scale(1.1);
}

.contact {
    padding: 10px 20px;
    color: #F5F5F5;
    background-color: #F99417;
    border: 2px solid transparent;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.3s ease;
}

.contact:hover {
    background-color: #4D4C7D;
    transition: transform .3s ease;
    transform: scale(1.1);
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: black;
}

#menu-toggle {
    display: none;
}

.close-btn {
    display: none;
}

/* ====== RESPONSIVE HEADER ====== */
@media screen and (max-width: 768px) {

    .navbar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        background: #363062;
        padding-top: 80px;
        flex-direction: column;
        gap: 25px;
        transition: 0.3s ease;
        z-index: 999;
    }

    #menu-toggle:checked ~ .navbar {
        left: 0;
    }

    .navbar a {
        margin: 0;
        font-size: 20px;
        padding-left: 20px;
    }

    .contact {
        display: none;
    }

    .menu-icon {
        display: block;
        color: white;
        font-size: 30px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,.5);
        display: none;
        z-index: 900;
    }

    #menu-toggle:checked ~ .overlay {
        display: block;
    }

    .close-btn {
        position: absolute;
        display: block;
        top: 25px;
        right: 20px;
        font-size: 35px;
        cursor: pointer;
        color: white;
    }

}


/* ====== COVER IMAGE ====== */
.cover {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.cover-text {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 10;
}

.cover-text p {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.cover-text h1 {
    font-size: 100px;
}

.cover-img {
    width: 100%;
    height: 100vh;
}

.cover-img img {
    width: 100%;
    height: 100vh;
    object-fit: cover;   /* Bikin gambar tetap memenuhi layar */
}


/* ====== ITEMS PRODUCT ====== */
.items-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden !important;
    color: #F5F5F5;
}

.items-product {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.slider-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.items-img {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.track {
    display: flex;
    transition: transform 0.6s ease;
}

.items-img img {
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

.btn {
    width: 45px;
    height: 45px;
    background: #F99417;
    color: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 25px;
    transition: .2s;
}
.btn:hover {
    background: #4D4C7D;
    transition: transform .3s ease;
    transform: scale(1.1);
}

.items-desk {
    width: 75%;
}

.items-tittle h1 {
    font-size: 25px;
    margin-top: 20px;
}

.items-tittle h4 {
    font-size: 20px;
    margin-top: 10px;
}

.items-spek {
    margin-top: 50px;
    width: 100%;
    line-height: 20px;
}

.label {
    display: inline-block;
    width: 100px; /* atur supaya sejajar */
}
.colon {
    display: inline-block;
    width: 20px; /* ":" akan selalu rata */
    text-align: center;
}

.items-spek p {
    white-space: normal; /* supaya spasi tidak hilang */
}

.desk-tittle h1 {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.desk-produk p {
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
}

.form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container {
    overflow-x: hidden;
    width: 80%;
    margin: auto;
    background: #363062;
    padding: 25px;
    border-radius: 10px;
    
}

label {
    font-weight: bold;
    color: #F5F5F5;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 22px;
    border-radius: 5px;
    border: 1px solid #363062;
    background-color: #4D4C7D;
    color: #F5F5F5;
}

#alamat {
    height: 80px;
}

#pesan {
    height: 140px;
}

.input-error {
    border: 2px solid red !important;
    background-color: #613232 !important;
}

.button {
    width: 100%;
    height: 35px;
    background-color: #F99417;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}

.button a{
    width: 100%;
    height: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #F5F5F5;
    text-decoration: none;
}

.button:hover {
    color: #F5F5F5;
    background-color: #4D4C7D;
}

/* ============================
   TABLET (max-width: 950px)
=============================== */
@media (max-width: 950px) {
    .items-container {
        flex-direction: column;
        align-items: center;
    }

    .items-product {
        width: 100%;
        margin-top: 50px;
    }

    .form {
        width: 100%;
        margin-top: 40px;
    }

    .container {
        width: 100%;
    }

    /* Resize slider */
    .items-img {
        width: 350px;
        height: 350px;
    }

    .items-img img {
        width: 350px;
        height: 350px;
    }

    .btn {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
}

/* ============================
   HP (max-width: 600px)
=============================== */
@media (max-width: 600px) {

    .items-container {
        overflow-x: hidden;
    }

    .items-product {
        width: 90%;
        margin-top: 50px;
    }

    .items-spek {
        width: 100%;
    }

    .form {
        width: 100%;
        margin-top: 100px;
    }

    .container {
        width: 80%;
    }

    /* Slider lebih kecil di HP */
    .items-img {
        width: 200px;
        height: 200px;
    }

    .items-img img {
        width: 200px;
        height: 200px;
    }

    .btn {
        width: 32px;
        height: 32px;
        font-size: 18px;
    }
}



/* ====== FOOTER ====== */
.footer-container {
    width: 100%;
    height: 100%;
    background-color: #4D4C7D;
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-icon a {
    font-size: 30px;
    background-color: #F99417;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
}

.footer-icon a:hover {
    background-color: #363062;
    transition: transform .3s ease;
    transform: scale(1.2);
}

.footer-tag {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-tag a {
    font-size: 17px;
    text-decoration: underline;
    color: #fff;
}

.footer-tag a:hover {
    transition: transform .3s ease;
    transform: scale(1.1);
}

.footer-wm {
    width: 100%;
    height: 50px;
    justify-items: center;
    align-content: center;
}

.footer-wm p {
    font-size: 13px;
    color: #F5F5F5;
}